body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, blue, red);
}

button:hover {
cursor: pointer;
background-color: lightblue;
}

button {
    border: solid 1px black;
}

.container {
   border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    height: 350px;
    width: 350px;
}

.double {
    grid-column:  1 / span 2;
}

.display {
    grid-column: 1 / span 4;
}

