body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, blue, red);
}

button:hover {
    cursor: pointer;
background-color: lightblue;
}

#clear:hover {
    cursor: pointer;
    background-color: lightblue;
}




button {
    border: solid 1px black;
    background-color: lightseagreen;
}

.container {
    border: solid 2px black;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    height: 350px;
    width: 350px;
    background-color: lightslategrey;
}

.delete{
    background-color: lightcoral;
}

#clear {
    background-color: lightcoral;
}
.operator{
    background-color: cornflowerblue;
}

.double {
    grid-column:  1 / span 2;
}

.display {
    color: white;
    display: flex;
    grid-column: 1 / span 4;
    justify-content: center;
    align-self: center;
}

.result {
    color: white;
    display: flex;
    justify-content: center;
    align-self: center;
    grid-column: 1 / span 4;
}

#equals {
    background-color: lightyellow;
}


